In [1]:
from pathlib import Path
import csv
csvpath = Path('../Resources/budget_data.csv')

In [2]:
# Variables
total_months = 0
month_of_change = []
net_change_list = []
greatest_increase_profit = ["", 0]
greatest_decrease = ["", 9999999999999999999]
total_net = 0

In [3]:
with open(csvpath, 'r') as csvfile:
    csvreader = csv.reader(csvfile, delimiter =',')
    
    header = next(csvreader)
    print(header)
    
    first_row = next(csvreader)
    total_months += 1
    total_net += int(first_row[1])
    previous_net = int(first_row[1])
    
    for row in csvreader:
        print(row)

        total_months += 1
        print(total_months)
        total_net += int(row[1])
        print(total_net)
        
        net_change = int(row[1]) - previous_net
        previous_net = int(row[1])
        net_change_list += [net_change]
        month_of_change += [row[0]]
        
        if net_change > greatest_increase_profit[1]:
            greatest_increase_profit[0] = row[0]
            greatest_increase_profit[1] = net_change
            
        if net_change < greatest_decrease[1]:
            greatest_decrease[0] = row[0]
            greatest_decrease[1] = net_change

['Date', 'Profit/Losses']
['Feb-2010', '984655']
2
1852539
['Mar-2010', '322013']
3
2174552
['Apr-2010', '-69417']
4
2105135
['May-2010', '310503']
5
2415638
['Jun-2010', '522857']
6
2938495
['Jul-2010', '1033096']
7
3971591
['Aug-2010', '604885']
8
4576476
['Sep-2010', '-216386']
9
4360090
['Oct-2010', '477532']
10
4837622
['Nov-2010', '893810']
11
5731432
['Dec-2010', '-80353']
12
5651079
['Jan-2011', '779806']
13
6430885
['Feb-2011', '-335203']
14
6095682
['Mar-2011', '697845']
15
6793527
['Apr-2011', '793163']
16
7586690
['May-2011', '485070']
17
8071760
['Jun-2011', '584122']
18
8655882
['Jul-2011', '62729']
19
8718611
['Aug-2011', '668179']
20
9386790
['Sep-2011', '899906']
21
10286696
['Oct-2011', '834719']
22
11121415
['Nov-2011', '132003']
23
11253418
['Dec-2011', '309978']
24
11563396
['Jan-2012', '-755566']
25
10807830
['Feb-2012', '1170593']
26
11978423
['Mar-2012', '252788']
27
12231211
['Apr-2012', '1151518']
28
13382729
['May-2012', '817256']
29
14199985
['Jun-2012', '570757']
30
14770742
['Jul-2012', '506702']
31
15277444
['Aug-2012', '-1022534']
32
14254910
['Sep-2012', '475062']
33
14729972
['Oct-2012', '779976']
34
15509948
['Nov-2012', '144175']
35
15654123
['Dec-2012', '542494']
36
16196617
['Jan-2013', '359333']
37
16555950
['Feb-2013', '321469']
38
16877419
['Mar-2013', '67780']
39
16945199
['Apr-2013', '471435']
40
17416634
['May-2013', '565603']
41
17982237
['Jun-2013', '872480']
42
18854717
['Jul-2013', '789480']
43
19644197
['Aug-2013', '999942']
44
20644139
['Sep-2013', '-1196225']
45
19447914
['Oct-2013', '268997']
46
19716911
['Nov-2013', '-687986']
47
19028925
['Dec-2013', '1150461']
48
20179386
['Jan-2014', '682458']
49
20861844
['Feb-2014', '617856']
50
21479700
['Mar-2014', '824098']
51
22303798
['Apr-2014', '581943']
52
22885741
['May-2014', '132864']
53
23018605
['Jun-2014', '448062']
54
23466667
['Jul-2014', '689161']
55
24155828
['Aug-2014', '800701']
56
24956529
['Sep-2014', '1166643']
57
26123172
['Oct-2014', '947333']
58
27070505
['Nov-2014', '578668']
59
27649173
['Dec-2014', '988505']
60
28637678
['Jan-2015', '1139715']
61
29777393
['Feb-2015', '1029471']
62
30806864
['Mar-2015', '687533']
63
31494397
['Apr-2015', '-524626']
64
30969771
['May-2015', '158620']
65
31128391
['Jun-2015', '87795']
66
31216186
['Jul-2015', '423389']
67
31639575
['Aug-2015', '840723']
68
32480298
['Sep-2015', '568529']
69
33048827
['Oct-2015', '332067']
70
33380894
['Nov-2015', '989499']
71
34370393
['Dec-2015', '778237']
72
35148630
['Jan-2016', '650000']
73
35798630
['Feb-2016', '-1100387']
74
34698243
['Mar-2016', '-174946']
75
34523297
['Apr-2016', '757143']
76
35280440
['May-2016', '445709']
77
35726149
['Jun-2016', '712961']
78
36439110
['Jul-2016', '-1163797']
79
35275313
['Aug-2016', '569899']
80
35845212
['Sep-2016', '768450']
81
36613662
['Oct-2016', '102685']
82
36716347
['Nov-2016', '795914']
83
37512261
['Dec-2016', '60988']
84
37573249
['Jan-2017', '138230']
85
37711479
['Feb-2017', '671099']
86
38382578

In [9]:
print(total_months)

86

In [10]:
print(total_net)

38382578

In [4]:
average_change = round(sum(net_change_list) / len(net_change_list),2)
print(average_change)

-2315.12

In [5]:
print(greatest_increase_profit)

['Feb-2012', 1926159]

In [6]:
print(greatest_decrease)

['Sep-2013', -2196167]

In [12]:
output_path = 'output.txt'

with open(output_path, 'w') as txt_file:
    txt_file.write(f"PyBank Financial Analysis\n")
    txt_file.write(f"Total Months :{total_months}\n")
    txt_file.write(f"Net Total Profit & Loss :${total_net}\n")
    txt_file.write(f"Average Change :${average_change}\n")
    txt_file.write(f"Greatest Increase in Profits :{greatest_increase_profit[0]} (${greatest_increase_profit[1]})\n")
    txt_file.write(f"Greatest Decrease in Loss :{greatest_decrease[0]} (${greatest_decrease[1]})\n")